<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Financial Manager</title>
        <link rel="stylesheet" href="/projects/statics/gestor_financa.css" />
    </head>
    <body>
        <div class="app-main">
            <div class="app-nav">
                <a href="/index.html">back</a>
            </div>
            <div class="content">
                <div class="informations">
                    <div class="text">
                        <div class="header">Financial Manager</div>
                        <div class="description">
                            The <b>Financial Manager</b> is a web application designed to help with <b>personal finance management</b>. With it, users can register
                            <b>income, expenses, and current balance</b>, as well as view <b>monthly reports and charts</b> to make financial tracking easier.
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="button-github">
                            <a href="https://github.com/DevDepre/Gestor-Financeiro" target="_blank">
                                <img src="/assets/github-for-projects.svg" alt="" />
                                GitHub
                            </a>
                        </div>
                    </div>
                    <div class="technologies-used">
                        <div class="subheader">
                            <img src="/assets/code-tech.svg" alt="icon de dev" />
                            <p>Technologies Used</p>
                        </div>
                        <ul>
                            <li>
                                <img class="icon" src="/assets/html5.svg" alt="html" />
                            </li>
                            <li>
                                <img class="icon" src="/assets/css3.svg" alt="css" />
                            </li>
                            <li>
                                <img class="icon" src="/assets/js-projects.svg" alt="javascript" />
                            </li>
                            <li>
                                <img class="icon" src="/assets/python.svg" alt="python" />
                            </li>
                            <li>
                                <img class="icon" src="/assets/fastapi.svg" alt="fastapi" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="informations-visual">
                    <div class="trailer"></div>
                    <div class="imagens">
                        <img class="imagem1" src="/assets/finance-maneger-img1.png" alt="imagem 1" />
                    </div>
                    <div class="imagens">
                        <img class="imagem2" src="/assets/finance-maneger-img2.png" alt="imagem 2" />
                    </div>
                </div>
            </div>
        </div>
        <script src="/scripts/stars.js"></script>
    </body>
</html>
